body {
    background-color: rgb(180, 225, 230);
}
  
h2 { /* Set header color to blue */
    color: #2164bd;
    margin-left: 20px;
}
h3 { /* Set header color to light blue */
    color: rgb(55, 174, 230);
    margin-left: 20px;
}
html { /* set font size */
    font-size: 16px;
  }
.ems li { /* set font size */
font-size: 1.3em;
}

.rems li { /* set font size */
font-size: 1.3rem;
}

div { /* set properties for div */
    width: 300px;
    border: 2px solid green;
    padding: 20px;
    margin: 10px;
  }